body{
    width: 100%;
    zoom: reset;
    background-color: whiteSmoke;
    
}

article.content{
	width: 800px;
	margin: auto;
	border-style: solid;
	border: 10px;
	
}

h1{
	font-family: 'Julius Sans One', sans-serif;
	font-size: 35;
	margin-top: 20px;
}

ol li{
	margin-top: 30px;
	margin-bottom: 30px;
	font-family: 'Didact Gothic', sans-serif;
	font-size: 23;
}

ul li{
	list-style-type: disc;
	margin: 5px;
	font-size: 16;
	
}

li.img{
	list-style-type: none;
	margin-left: -15px;
}

li{
	width:600px;
	
	
}

img{
	border: 5px;
	border-color: rgba(0,0,0,0.66);
	border-style: solid;	
}

hr{
	border-style: dotted;
	border-width: 1px;
	margin-top: -5px;
}

p{
	font-family: 'Lora', serif;
}

li#b1, li#b2, li#b3, li#b4, li#b5, li#b6{
	cursor: pointer;
}